*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height: 100vh;
   background-image: url(../images/bg-mobile.png);
   background-repeat: no-repeat;
   background-size: cover;
}


