@media screen and (min-width: 1440px){
body{
    background-image: url(../images/bg-desktop.png);
    background-size: contain;
    background-position-y: bottom;
    background-color: $very-dark-blue;

    display: flex;
    align-items: center;
    justify-content: center;
}

    .container{
        flex-direction: row;
        align-items: flex-end;
        height: fit-content;
        width: 64%;
        gap: 3rem;
    }

    .card-logo{
        width: 40%;
    }

.card-storage{
width: 60%;
padding: 4rem 3rem ;
}

.description{
    text-align: left;
}

.floating-msg-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: unset;
    right: 3rem;
    top: -30%;
}

.msg{
    left: 0;
    border-bottom-right-radius: 0;
}


.triangle{
    display: block;
    width: 0;
    height: 0;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

}