//Variables



//Primary
$gradient-1: hsl(6, 100%, 80%); 
$gradient-2: hsl(335, 100%, 65%);

//Neutral
$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

@import "general";
@import "cards";
@import "media_1440";

//font-family: 'Raleway', sans-serif;