$font-stack:'Overpass', sans-serif;


/***** Typography *****/
$paragraph: 15px;
$sm-weight:400;
$bg-weight:800;

/*** Margin ***/
$m-3:3rem;
$m-2:2rem;
$m-1:1rem;

/*** Padding ***/
$p-3:3rem;
$p-2:2rem;
$p-1:1rem;

/*** Border Radius ***/
$Br-3:3rem;
$Br-2:2rem;


/*** Spacing ***/
$spacing-2:2px;

$transition:0.3s;