@use './variables' as v;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    //font-family: 'Fraunces', serif;//
font-family: 'Montserrat', sans-serif;
background-color: v.$cream;
}







/*@use './variables' as v;

* {margin:0;
padding:0;
box-sizing:border-box;
}
html{
    font-size: 62.5%;
}
body{
  
    font-family: 'Montserrat', sans-serif;
    background-color: v.$cream;
}
*/
