@media screen and (min-width: 1440px) {
    .container {
        align-items: center;
        height: 100vh;

        .card {
            display: flex;
            max-width: 60rem;

            .hero{
                border-top-right-radius: unset;
                border-bottom-left-radius: 1rem;
            }



            .mobile {
                display: none;
            }
    
            .desktop {
                display: unset;
            }

            .card-wrapper{
                padding: 3.1rem;
                width: 90%;
                h2{
                    letter-spacing: 0.5rem;
                }

                h1{
                    margin-top: 2.0rem;
                margin-bottom: 2.4rem;
                font-size: 3rem;
                line-height: 3.19rem;
                }

                .description{
                    font-size: 1.4rem;
                }

                .price-wrapper{
                    margin-top: 2.7rem;
                    margin-bottom: 2.7rem;
                }


            }
        }
        
    }

}




/*@media screen and (min-width: 1440px) {
    .container{
        align-items: center;
        height: 100vh;

        .card{
            display: flex;
        
            .mobile{
                display: none;
            }
    
            .desktop{
                display: unset;
            }

            

        }

        
        
    }
}
*/