//## Colors
//### Primary

$dark-cyan: hsl(158, 36%, 37%);
$dark-cyan-hover: hsl(158, 36%, 20%);
$cream: hsl(30, 38%, 92%);

//### Neutral

$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);




/*//## Colors

//### Primary

$dark-cyan: hsl(158, 36%, 37%);
$dark-cyan-hover: hsl(158, 36%, 20%);
$cream: hsl(30, 38%, 92%);

//### Neutral

$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%); 
*/