@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(230, 100%, 99%);
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;
  background-image: url("./images/bg-pattern.svg");
  background-size: 100% 60%;
}

h2 {
  font-weight: 800 !important;
  font-size: 40px;
}

.main {
  max-width: 60vw;
  margin: 60px auto;

  text-align: center;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  padding: 36px;
  background-image: url("./images/pattern-circles.svg");
}

.card {
  margin: 90px auto;
  border-radius: 6px;
  width: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: hsl(0, 0%, 100%);
}

p {
  font-weight: 800;
  color: hsl(225, 20%, 60%);
}

#views {
  letter-spacing: 2px;
}

.section-1,
.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-1 {
  padding: 24px 70px;
}

.slider {
  width: 90%;
  margin-left: 26px;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 24px;
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 10%,
    hsl(224, 65%, 95%) 10%,
    hsl(224, 65%, 95%) 100%
  );
  outline: none;
  margin-bottom: 48px;
  /* opacity: 0.7; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("./images/icon-slider.svg");
  box-shadow: 0 4px 8px 0 hsl(174, 86%, 45%), 0 6px 20px 2px hsl(174, 86%, 45%);
  background-repeat: no-repeat;
  background-color: hsl(174, 86%, 45%);
  background-position: 9px 14px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

#slider::-webkit-slider-thumb:hover {
  cursor: grab;
  opacity: 0.8;
}

.lower-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  padding-bottom: 36px;
  margin-right: 24px;
}

strong {
  font-weight: 800;
  font-size: 38px;
  margin: 8px;
}

#colored {
  background-color: hsl(14, 92%, 95%);
  padding: 0 8px;
  color: hsl(15, 100%, 70%);
  border-radius: 40px;
}

.lower-section p {
  padding: 0 14px 0 12px;
}

.list {
  border-top: 1px solid rgb(218, 218, 218);
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 36px 60px 50px 80px;
}

.list p::before {
  content: url("./images/icon-check.svg");
  padding-right: 10px;
}

button {
  cursor: pointer;
  padding: 16px;
  height: fit-content;
  width: 200px;
  border-radius: 24px;
  border: none;
  color: white;
  background-color: hsl(227, 35%, 25%);
}

.toggle {
  position: relative;
  display: inline-block;
  top: 3px;
  cursor: pointer;
  width: 54px;
  height: 27px;
  background-color: hsl(223, 50%, 87%);
  border-radius: 30px;
  border: 2px solid hsl(223, 50%, 87%);
}

.toggle:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  bottom: 1pt;
  left: 0.5px;
  transition: all 0.5s;
}

.checkbox:checked + .toggle::after {
  left: 26px;
}

.checkbox:checked + .toggle {
  background-color: hsl(174, 86%, 45%);
}

.checkbox {
  display: none;
}

@media only screen and (max-width: 480px) {
  .main {
    max-width: 100vw;
  }
  h2 {
    font-size: 22px;
  }
  p {
    padding: 10px 58px;
  }
  .header {
    padding: 19px;
    height: 150px;
  }
  .card {
    width: 90vw;
  }
  .section-1 {
    display: block;
    padding: 12px;
    text-align: center;
  }
  .amount {
    display: none;
  }
  .card {
    margin: 30px auto;
  }
  #mobile-amount p {
    padding: 0;
    display: inline;
  }
  .lower-section {
    padding-top: 45px;
    padding-right: 0;
    margin-right: 0;
  }
  .lower-section p {
    font-size: 16px;
    padding: 3px;
  }
  .list {
    display: block;
    padding: 36px 12px;
    text-align: center;
  }
  button {
    margin-top: 24px;
  }
  #colored {
    padding: 0;
  }
}
