* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.6rem;
}

.card {
  background-color: hsl(228deg, 56%, 26%);
  width: 86%;
  border-radius: 1rem;
}

.card-logo {
  padding: 4rem;
  border-top-right-radius: 10rem;
}

.card-storage {
  padding: 3rem 3rem 5rem 3rem;
  position: relative;
}

.icon-box {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 2rem;
}

.icon {
  background-color: hsl(229deg, 57%, 11%);
  padding: 1.3rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  color: hsl(243deg, 100%, 93%);
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.progress {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text {
  color: hsl(243deg, 100%, 93%);
  font-size: 1.2rem;
  font-weight: 700;
}

.progress-bar {
  width: 100%;
  background-color: hsl(229deg, 57%, 11%);
  padding: 3px;
  border-radius: 1rem;
  margin: 1.8rem 0 1rem 0;
}

.progress-bar-color {
  width: 75%;
  background-image: linear-gradient(90deg, hsl(6deg, 100%, 80%), hsl(335deg, 100%, 65%));
  padding: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-radius: 1rem;
}

.ball {
  width: 1.1rem;
  height: 1.1rem;
  background-color: hsl(243deg, 100%, 93%);
  border-radius: 1rem;
}

.floating-msg {
  position: absolute;
  left: 50%;
  top: 80%;
}

.msg {
  background-color: white;
  padding: 1.2rem 2.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
  left: -50%;
}
.msg strong {
  font-size: 4rem;
  color: hsl(229deg, 57%, 11%);
}
.msg span {
  color: hsl(229deg, 7%, 55%);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-left: 0.8rem;
  white-space: nowrap;
}

.triangle {
  display: none;
}

@media screen and (min-width: 1000px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-size: contain;
    background-position-y: bottom;
    background-color: hsl(229deg, 57%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    flex-direction: row;
    align-items: flex-end;
    height: fit-content;
    width: 64%;
    gap: 3rem;
  }
  .card-logo {
    width: 40%;
  }
  .card-storage {
    width: 60%;
    padding: 4rem 3rem;
  }
  .description {
    text-align: left;
  }
  .floating-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: unset;
    right: 3rem;
    top: -30%;
  }
  .msg {
    left: 0;
    border-bottom-right-radius: 0;
  }
  .triangle {
    display: block;
    width: 0;
    height: 0;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

/*# sourceMappingURL=main.css.map */
