//  Primary Colors
$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);
$Bright-blue-hover: hsla(245, 75%, 52%,0.7);

// Neutral Colors
$White: #ffffff;
$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

$attribution-color: hsl(228, 45%, 44%); 