// Typography

//Font-size
$font-size: 16px;   /* (paragraph) */
$font-size-attr: 11px;

//Weights
$sm-weight: 500;
$md-weight: 700; 
$lg-weight: 900;

//Margins
$m-1: 1rem;
$m-2: 2rem;
$m-3: 3rem;

//Paddings
$p-1:1rem;
$p-2:2rem;
$p-3:3rem;


