html{
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card_container{
    border-radius: 10px;
    width: 80%;
    text-align: center;
    background-color: white;

}
.card_pic{
    width: 100%;
    height: 25%;
    border-radius: 10px;
}
.title{
    font-weight: 700;
    font-size: 18px;
}
.payment{
    display: flex;
    align-items: center;
    background-color: grey;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
.plan{
    margin-left: 10px;
    margin-right: auto;
}
button{
    display: block;
    width: 80%;
    margin: 10px auto 0px; 
    border: none;
    height: 30px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.cancel{
    color: blue;
    background-color: white;
}

@media only screen and (min-width: 1000px) {

}