* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 62.5%;
  font-weight: 600;
}
/* Navbar */
.navbar {
  width: 100%;
  display: block;
  padding: 2rem 3rem;
  font-size: 1.8rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  align-items: flex-end;
  justify-content: right;
}
.navbar-link {
  text-decoration: none;
}

/* Heading */
.primary-heading {
  display: block;
  text-align: center;
  text-transform: capitalize;
}
.header {
  background-image: url();
}
