

// ### Body Copy

$font-size-p: 14px;

//Margin
$m-05: 0.5rem;
$m-1: 1rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;

//Margin
$p-1: 1rem;
$p-2: 2rem;
$p-3: 3rem;

// Font Weight

$md-weight:700;
$sm-weight:500;
