@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-dark-blue: hsl(233, 47%, 7%);
  --card-sat-blue: hsl(244, 38%, 16%);
  --accent-violet: hsl(277, 64%, 61%);

  --head-stat-white: hsl(0, 0%, 100%);
  --main-white: hsla(0, 0%, 100%, 0.75);
  --stat-white: hsla(0, 0%, 100%, 0.6);
}

body {
  background: var(--main-dark-blue);
  font-size: 15px;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-weight: 400;
}

main {
  min-width: 600px;
  display: flex;
  margin: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--card-sat-blue);
  padding: 5.85em 7em 5.85em 5.85em;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 540px;
  min-width: 300px;
  overflow: hidden;
}

section h1 {
  color: var(--head-stat-white);
  font-weight: 700;
}
section #stat-p {
  color: var(--main-white);
  margin-top: 1rem;
}

section .content {
  margin-right: 2rem;
}
section span {
  color: var(--accent-violet);
}
section h2 {
  color: var(--head-stat-white);
  margin-bottom: 0.2rem;
}

.stat-list {
  display: flex;
  list-style: none;
  color: var(--stat-white);
  justify-content: space-between;
  margin-top: 2rem;
}

section .stat-list p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
}

.backg-img {
  min-height: 10rem;
  width: 500px;
  min-width: 200px;
  background: url(images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
}

.overlay {
  background: hsl(277deg, 100%, 50%, 0.35);
  height: 100%;
}

.cover {
  background: hsl(293deg, 42%, 35%, 0.3);
  height: 100%;
  mix-blend-mode: color-burn;
}




@media only screen and (max-width: 1024px) {
  :root {
    font-size: 12px;
  }
  .card {
    padding: 3rem 4.55rem 3rem 3rem;
  }
}




@media only screen and (max-width: 625px) {
  body {
    flex-direction: column;
  }

  main {
    margin-top: 5rem;
    margin: 8px;
    flex-direction: column-reverse;
    min-width: 200px;
  }

  .card {
    border-radius: 0 0 10px 10px;
    padding: 3.5rem;
    width: 300px;
    max-height: 490px;
  }

  #stat-p {
    line-height: 1.8rem;
    font-size: 1.31rem;
    margin-bottom: 2rem;
  }

  section .container {
    margin-right: 0;
  }
  
  section ul {
    flex-direction: column;
    align-items: center;
  }

  section .stat-list li {
    margin-bottom: 1.65rem;
  }

  section .stat-list h2 {
    text-align: center;
    font-size: 2rem;
  }
  section .stat-list p {
    font-size: 1.1rem;
  }

  section h1,
  #stat-p {
    text-align: center;
  }

  .backg-img {
    border-radius: 10px 10px 0 0;
    height: 235px;
    width: 300px;
  }
}
