@mixin flex-center(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin border-top(){
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

@mixin border-right(){
    border-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}