$color-bg: hsl(233, 47%, 7%);
$color-card: hsl(244, 38%, 16%);
$color-accent: hsl(277, 64%, 61%);

$color-text: hsl(0, 0%, 100%);
$color-paragraph: hsla(0, 0%, 100%, 0.75);
$color-heading: hsla(0, 0%, 100%, 0.6);

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;

$card-height: 785px;
$card-width: 325px;

$border-radius: 0.5rem;