* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 62.5%;
  font-weight: 600;
  max-width: 100%;
}
h1,
h2 {
  font-family: "Fraunces", serif;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  text-transform: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section {
  height: 80vh;
  background-color: white;
  overflow: hidden;
}
/* Navbar */
.logo {
  display: inline-block;
  margin-top: 1rem;
  text-align: left;
  z-index: 10;
}
.navbar {
  width: 100%;
  display: block;
  padding: 2rem 3rem;
  font-size: 1.1rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: flex-end;
  z-index: 1;
  margin-top: -3rem;
}
.navbar-link {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: 1rem;
}
.navbar-link:last-child:link,
.navbar-link:last-child:visited {
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  font-family: "Fraunces", serif;
  margin-top: 0.1rem;
}

.navbar-link:last-child:hover,
.navbar-link:last-child:active {
  color: white;
  cursor: pointer;
}
/* Heading */
.primary-heading {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  font-size: 3rem;
  letter-spacing: 3.5px;
  word-spacing: 4.5px;
  margin-top: 3rem;
}
.yellow-heading {
  margin-left: 2rem;
}
.pink-heading {
  margin-left: 43rem;
}
/* Buttons */
.btn-cta:link,
.btn-cta:visited {
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 30px;
  border: none;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: hsla(194, 83%, 72%, 0.753);
  cursor: pointer;
  color: white;
}
.header {
  background-image: url(/desktop-view/resources/css/img/image-header.jpg);
  background-size: contain;
  background-position: center;
  height: 100vh;
  max-width: 100%;
  display: block;
}

.arrow {
  display: flex;
  margin: 3.5rem auto;
}

.section-yellow {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  position: relative;
}

.section-yellow p {
  font-size: 1.1rem;
  margin-left: 2rem;
}
.container-link:link,
.container-link:visited {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid hsl(7, 99%, 70%);
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 2rem;
  display: inline-block;
}

.container-link:hover,
.container-link:active {
  cursor: pointer;
  border-bottom: 4px solid yellow;
}

.container a {
  margin-left: 2.5rem;
}
.container {
  display: inline-block;
  position: absolute;
  padding: 5rem;
}

.container2 .container-link:hover,
.container2 .container-link:active {
  cursor: pointer;
  border-bottom: 4px solid hsl(7, 87%, 64%);
}
.yellow {
  height: 31.27rem;
  width: 40.3rem;
  /* position: absolute;
  display: flex;
  justify-content: flex-end; */
  float: right;
}

.section-pink {
  background-color: white;
  height: 80vh;
  position: relative;
}

.pink {
  height: 31.27rem;
  width: 40.5rem;
  display: flex;
  justify-content: flex-start;
  position: absolute;
}

.container2 {
  display: inline-block;
  position: absolute;
  padding: 5rem;
}

.container2 p {
  font-size: 1.1rem;
  position: relative;
  left: 43rem;
}

.container2 a {
  margin-left: 44rem;
}

.section-fruits {
  position: relative;
}

.fruit-images {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.section-fruits img {
  height: 31.27rem;
  width: 40.5rem;
  z-index: 1;
}

.photography {
  left: 40.68rem;
  top: 101.59rem;
  height: 31.25rem;
  width: 39.5rem;
}

.container-fruits {
  color: hsl(167, 40%, 24%);
  z-index: 9999;
  position: relative;
  top: 20rem;
  font-size: 1.5rem;
  text-align: center;
  left: -20rem;
  overflow: hidden;
}

.section-fruits h3 {
  font-family: "Fraunces", serif;
  text-transform: none;
  font-weight: 800;
  font-size: 1.5rem;
}

.section-fruits p {
  font-size: 1.1rem;
  margin-top: 2rem;
}

.container-fruits2 {
  color: hsl(198, 62%, 26%);
  z-index: 9999;
  text-align: center;
  font-size: 1.3rem;
  position: relative;
  top: 12rem;
  left: 21.5rem;
}

.section-testimonials {
  height: 100vh;
  background-color: white;
  padding: 6rem 10rem;
}

.section-testimonials h3 {
  display: block;
  position: relative;
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  letter-spacing: 2.5px;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.582);
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  gap: 1.8rem;
}

.testimonials img {
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.testimonials p {
  line-height: 2;
  font-size: 1rem;
  margin-bottom: 2.4rem;
}

.testimonials h4 {
  font-weight: 800;
  font-family: "Fraunces", serif;
  font-size: 1.1rem;
}

.emily {
  text-align: center;
}

.testimonial-role {
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.404);
}

.section-gallery {
  height: 26rem;
}

.gallery {
  display: flex;
  flex-direction: row;
}

.gallery img {
  height: 26rem;
}

.footer {
  background-color: hsl(168, 61%, 68%);
  height: 40vh;
  padding: 4rem 5rem;
  text-align: center;
}
.footer img {
  color: hsl(167, 40%, 24%);
}
.footer-nav {
  margin: 1.2rem;
}

.footer-nav a {
  text-decoration: none;
}
.footer-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
}
.footer-nav li {
  list-style: none;
  font-size: 0.8rem;
  color: hsl(167, 40%, 24%);
}

.footer-nav li:hover,
.footer-nav li:active {
  cursor: pointer;
  color: white;
  list-style: none;
}

.social-links {
  margin-top: 3.5rem;
}

.social-links a {
  text-decoration: none;
}

.social-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.9rem;
}
.social-links li {
  list-style: none;
}

.social-links a:hover,
.social-links a:active {
  color: white;
  cursor: pointer;
}
