@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}
.text-content{
    padding: 7%;
    text-align: center;
}

.title{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
}
.text-content p.subtitle{
color: #8a8a8a;
margin-bottom: 25px;
}
.plan-box{
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}
.plan-box-left{
    display: flex;
    align-items: center;
    text-align: left;
}
.plan-box-left div{
    margin-left: 20px;
}
.plan-box-left div h5{
    font-weight: 900;
    font-size: 15px;
    color: hsl(223, 47%, 23%);
}

.plan-box-left div p{
    font-weight: 900;
    font-size: 14px;
    color: #8a8a8a;
}
.plan-box a{
font-weight: 900;
color: hsl(223, 47%, 23%);
transition: color .3s ease;
}
.plan-box a:hover{
    text-decoration: none;
    color: hsl(245, 75%, 52%); 
}
a.proceed-btn{
display: block;
text-decoration: none;
color: white;
background-color: hsl(245, 75%, 52%);
padding: 20px;
border-radius:12px;
margin: 30px 0;
transition: background-color .3s;
}
a.proceed-btn:hover{
    background-color: hsl(224, 23%, 55%);
}

a.cancel-btn{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
}
a.cancel-btn:hover{
    color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 425px){
   body{
    background-image: url(images/pattern-background-mobile.svg);
    font-size: 14px;
}
    .container{
        max-width: 85%;
    }
    .title{
        font-size: 23px;
    }
    div.plan-box{
        padding: 12px;
    }
    .plan-box-left div{
        margin-left: 10px;
    }
    a.proceed-btn
    a.cancel-btn
    .plan-box a
    {
        font-size: 12px;
    }
    .text-content{
        padding: 9% 7%;
    }




}