*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Fraunces', serif;
    background-color: $very-dark-blue;
font-family: 'Montserrat', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}